In [2]:
import pandas as pd

In [37]:
df = pd.read_csv("data/graduates.csv",header=None)
df.head()
df.columns
df.rename(columns = {0:"hello"},inplace=True)
df.columns

Index(['hello',       1,       2,       3,       4,       5,       6,       7,
             8,       9,      10,      11,      12,      13,      14,      15,
            16,      17,      18,      19,      20,      21,      22,      23,
            24,      25,      26,      27,      28,      29,      30,      31,
            32,      33,      34,      35,      36,      37,      38,      39,
            40,      41,      42,      43,      44,      45,      46,      47,
            48,      49],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 50 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Year                                                           517 non-null    int64
 1   Demographics.Total                                             517 non-null    int64
 2   Education.Major                                                517 non-null    object
 3   Salaries.Highest                                               517 non-null    float64
 4   Salaries.Lowest                                                517 non-null    float64
 5   Salaries.Mean                                                  517 non-null    float64
 6   Salaries.Median                                                517 non-null    float64
 7   Salaries.Quantity                                              517 non-null    int64
 8   Salaries.Standard Deviation                                    517 non-null    float64
 9   Demographics.Ethnicity.Asians                                  517 non-null    int64
 10  Demographics.Ethnicity.Minorities                              517 non-null    int64
 11  Demographics.Ethnicity.Whites                                  517 non-null    int64
 12  Demographics.Gender.Females                                    517 non-null    int64
 13  Demographics.Gender.Males                                      517 non-null    int64
 14  Education.Degrees.Bachelors                                    517 non-null    int64
 15  Education.Degrees.Doctorates                                   517 non-null    int64
 16  Education.Degrees.Masters                                      517 non-null    int64
 17  Education.Degrees.Professionals                                517 non-null    int64
 18  Employment.Employer Type.Business/Industry                     517 non-null    int64
 19  Employment.Employer Type.Educational Institution               517 non-null    int64
 20  Employment.Employer Type.Government                            517 non-null    int64
 21  Employment.Reason Working Outside Field.Career Change          517 non-null    int64
 22  Employment.Reason Working Outside Field.Family-related         517 non-null    int64
 23  Employment.Reason Working Outside Field.Job Location           517 non-null    int64
 24  Employment.Reason Working Outside Field.No Job Available       517 non-null    int64
 25  Employment.Reason Working Outside Field.Other                  517 non-null    int64
 26  Employment.Reason Working Outside Field.Pay/Promotion          517 non-null    int64
 27  Employment.Reason Working Outside Field.Working Conditions     517 non-null    int64
 28  Employment.Reason for Not Working.Family                       517 non-null    int64
 29  Employment.Reason for Not Working.Layoff                       517 non-null    int64
 30  Employment.Reason for Not Working.No Job Available             517 non-null    int64
 31  Employment.Reason for Not Working.No need/want                 517 non-null    int64
 32  Employment.Reason for Not Working.Student                      517 non-null    int64
 33  Employment.Status.Employed                                     517 non-null    int64
 34  Employment.Status.Not in Labor Force                           517 non-null    int64
 35  Employment.Status.Unemployed                                   517 non-null    int64
 36  Employment.Work Activity.Accounting/Finance/Contracts          517 non-null    int64
 37  Employment.Work Activity.Applied Research                      517 non-null    int64
 38  Employment.Work Activity.Basic Research                        517 non-null    int64
 39  Employment.Work Activity.Computer Applications                 517 non-null    int64
 40  Employment.Work Activity.Design                                517 non-null    int64
 41  Employment.Work Activity.Development                           517 non-null    int64
 42  Employment.Work Activity.Human Resources                       517 non-null    int64
 43  Employment.Work Activity.Managing/Supervising People/Projects  517 non-null    int64
 44  Employment.Work Activity.Other                                 517 non-null    int64
 45  Employment.Work Activity.Productions/Operations/Maintenance    517 non-null    int64
 46  Employment.Work Activity.Professional Service                  517 non-null    int64
 47  Employment.Work Activity.Qualitity/Productivity Management     517 non-null    int64
 48  Employment.Work Activity.Sales, Purchasing, Marketing          517 non-null    int64
 49  Employment.Work Activity.Teaching                              517 non-null    int64
dtypes: float64(5), int64(44), object(1)
memory usage: 202.1+ KB

In [6]:
df.describe()

,Year,Demographics.Total,Salaries.Highest,Salaries.Lowest,Salaries.Mean,Salaries.Median,Salaries.Quantity,Salaries.Standard Deviation,Demographics.Ethnicity.Asians,Demographics.Ethnicity.Minorities,...,Employment.Work Activity.Design,Employment.Work Activity.Development,Employment.Work Activity.Human Resources,Employment.Work Activity.Managing/Supervising People/Projects,Employment.Work Activity.Other,Employment.Work Activity.Productions/Operations/Maintenance,Employment.Work Activity.Professional Service,Employment.Work Activity.Qualitity/Productivity Management,"Employment.Work Activity.Sales, Purchasing, Marketing",Employment.Work Activity.Teaching
count,517.000000,5.170000e+02,5.170000e+02,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,...,517.000000,517.000000,517.000000,5.170000e+02,517.000000,517.000000,5.170000e+02,517.000000,517.000000,5.170000e+02
mean,2003.636364,2.089547e+05,2.206118e+05,674.545455,36126.199420,30395.125725,924.512573,30076.762863,22490.825919,27171.984526,...,45028.549323,46441.029014,52072.808511,9.679434e+04,17743.234043,24256.222437,5.402252e+04,46718.632495,56225.628627,4.521384e+04
std,7.029787,4.624167e+05,3.826856e+05,2302.625137,39641.071927,31383.335725,1976.425141,50713.885207,55115.188066,72880.209807,...,100556.629663,100429.720195,115187.838999,2.083848e+05,44889.310791,54878.096613,1.522205e+05,98313.894250,124010.354123,1.208068e+05
min,1993.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00
25%,1997.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00
50%,2003.000000,1.066600e+04,1.000000e+05,0.000000,33684.470000,30000.000000,29.000000,17483.740000,366.000000,590.000000,...,1178.000000,1772.000000,1797.000000,3.962000e+03,266.000000,585.000000,9.560000e+02,1726.000000,1709.000000,1.548000e+03
75%,2010.000000,1.680520e+05,1.500000e+05,0.000000,67193.250000,60000.000000,587.000000,38807.280000,15711.000000,15877.000000,...,27106.000000,34617.000000,37542.000000,7.645500e+04,14164.000000,18968.000000,3.486500e+04,36493.000000,44780.000000,3.434700e+04
max,2015.000000,3.355678e+06,1.223166e+06,25000.000000,257851.200000,100000.000000,13432.000000,397375.060000,469649.000000,674394.000000,...,741284.000000,696562.000000,849298.000000,1.427662e+06,411183.000000,404438.000000,1.285030e+06,637806.000000,905374.000000,1.089982e+06

In [7]:
df.describe(include="object")

            Education.Major
count                   517
unique                   47
top     Biological Sciences
freq                     11

In [10]:
df["Education.Major"].unique()

array(['Biological Sciences', 'Chemical Engineering', 'Chemistry',
       'Civil Engineering', 'Computer Science and Math', 'Economics',
       'Electrical Engineering', 'Management & Administration',
       'Mechanical Engineering', 'Other Engineering',
       'Physics and Astronomy', 'Psychology',
       'Biochemistry and Biophysics', 'Anthropology and Archeology',
       'Physiology, Human and Animal', 'Nutritional Science',
       'Pharmacology, Human and Animal', 'Zoology, General',
       'Information Services and Systems', 'Animal Sciences',
       'Genetics, Animal and Plant', 'International Relations', 'Geology',
       'Operations Research', 'Sociology', 'Oceanography',
       'History of Science', 'Plant Sciences', 'Philosophy of Science',
       'Agricultural Economics', 'OTHER Geological Sciences', 'Botany',
       'Environmental Science Studies', 'Forestry Services',
       'Earth Sciences', 'Criminology', 'Political and related sciences',
       'Public Policy Studies', 'OTHER Physical and Related Sciences',
       'Area and Ethnic Studies', 'Atmospheric Sciences and Meteorology',
       'Food Sciences and Technology', 'Political Science and Government',
       'Statistics', 'Linguistics', 'Geography',
       'OTHER Agricultural Sciences'], dtype=object)

In [27]:
df_salaries = df.filter(regex="^Sal").copy()
df_salaries["Major"] = df["Education.Major"]
df_salaries.head()
df_salaries.groupby("Major").cumsum()

,Salaries.Highest,Salaries.Lowest,Salaries.Mean,Salaries.Median,Salaries.Quantity,Salaries.Standard Deviation
0,999999.0,0.0,160585.73,51000.0,13432,297818.25
1,999999.0,9000.0,126176.52,56000.0,3375,245705.77
2,999999.0,8000.0,148872.00,60000.0,7834,276000.33
3,999999.0,10000.0,129070.55,50000.0,4035,259543.49
4,999999.0,0.0,134299.53,49000.0,9996,269323.82
...,...,...,...,...,...,...
512,2678301.0,0.0,224531.71,193000.0,7129,196540.31
513,1588725.0,4000.0,329360.17,309000.0,604,214334.10
514,2471205.0,0.0,320014.95,255000.0,1468,305820.25
515,1549999.0,17000.0,342788.50,258000.0,6123,360414.89
516,200000.0,0.0,73528.41,69000.0,1311,41065.55

In [29]:
df.shape

(517, 50)

In [31]:
df.columns[0]

'Year'

In [ ]:
df.rename()